{
  "openapi": "3.0.1",
  "info": {
    "title": "TNIQ by Ringer — Customer API",
    "description": "External API for TNIQ customers.\n\nProvides endpoints for:\n- **SOA Operations** — Port request lifecycle (activate, cancel, release, disconnect, conflict, IntraSP)\n- **Number Inventory** — Search, reserve, assign, release, audit, and report on telephone numbers\n- **Toll-Free** — Somos TFN Registry integration (search, reserve, activate PTR, disconnect)\n- **Messaging / 10DLC** — TCR brand and campaign registration, CNP election, number assignment\n- **CNAM** — Caller Name ID management\n- **ROC** — Responsible Organization Change workflows\n- **Reference Data** — Read-only CIC, NNID, credentialed Resp Org, and credentialed NPAC SPID directories\n- **Port Projects** — Bulk port order management with CSV/Excel upload\n- **Port-Out Releases** — NPAC release management\n\nAuthentication: Include your API token in the Authorization header:\n`Authorization: Bearer YOUR_TOKEN`",
    "contact": {
      "name": "Ringer API Support",
      "url": "https://ringer.tel",
      "email": "api-support@ringer.tel"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.tniq.ringer.tel",
      "description": "Production"
    },
    {
      "url": "https://tniq-api.ringer.tel",
      "description": "Production (legacy alias)"
    },
    {
      "url": "https://staging-api.ringer.tel",
      "description": "Staging"
    }
  ],
  "tags": [
    {
      "name": "Carrier Email",
      "description": "Carrier coordination email (#336)"
    },
    {
      "name": "Messaging NNID Hold",
      "description": "Per-SPID NNID hold policy, collision-safe backfill, and overwrite findings (#245)"
    },
    {
      "name": "Port-Out Release",
      "description": "Port-out release project management for NPAC releases"
    },
    {
      "name": "Reports",
      "description": "Queue async reports that are emailed to the requesting user as CSV/XLSX attachments."
    },
    {
      "name": "Messaging Enums",
      "description": "TCR reference data: use cases, verticals, entity types"
    },
    {
      "name": "Messaging NNID Overwrite Requests",
      "description": "nnSR overwrite-request approval queue: list, approve, reject, LOA attach (#245 W3)"
    },
    {
      "name": "Messaging Campaigns",
      "description": "10DLC campaign management and phone number assignment"
    },
    {
      "name": "Messaging Brands",
      "description": "10DLC brand registration and management"
    },
    {
      "name": "Bulk Operations",
      "description": "Submit and track bulk inventory operations (metadata, PIN, CNAM) with order references."
    },
    {
      "name": "Number Inventory Audit",
      "description": "Three-phase inventory audit operations"
    },
    {
      "name": "Messaging Number NNID",
      "description": "Assign or remove NNIDs on phone numbers (nnSR push)"
    },
    {
      "name": "Bulk Port",
      "description": "Bulk port project management"
    },
    {
      "name": "Port Project Documents",
      "description": "Supporting documents (LOA/BILL/CSR/OTHER) for LNP port-in projects"
    },
    {
      "name": "Toll-Free",
      "description": "Toll-free number management via Somos TFN Registry"
    },
    {
      "name": "Bulk Port Jobs",
      "description": "Background job monitoring and management"
    },
    {
      "name": "Number Inventory Query",
      "description": "Query-based inventory search with powerful filter language"
    },
    {
      "name": "Telecom Reference Data",
      "description": "Authenticated read-only CIC, NNID, Resp Org, and NPAC SPID reference directories"
    },
    {
      "name": "Number Inventory",
      "description": "Search and query number inventory"
    },
    {
      "name": "ROC",
      "description": "Resp Org Change workflow management"
    },
    {
      "name": "Activity Journal",
      "description": "Tenant-wide activity journal (read-only)"
    },
    {
      "name": "TCR Webhooks",
      "description": "TCR webhook event receiver and event history"
    },
    {
      "name": "Inventory Reports",
      "description": "Generate and download inventory reports"
    },
    {
      "name": "SOA Operations",
      "description": "Service Order Administration endpoints for Local Number Portability"
    },
    {
      "name": "Job Runs",
      "description": "Operator-facing job run lifecycle (sync history, attempts, warnings)"
    },
    {
      "name": "Toll-Free Sync",
      "description": "Toll-free number inventory synchronization"
    },
    {
      "name": "Messaging NNIDs",
      "description": "NetNumber ID management for SMS provisioning"
    },
    {
      "name": "Inventory Map",
      "description": "Geographic inventory visualization data"
    },
    {
      "name": "CIC Reference Data",
      "description": "Authenticated NANPA FGD assignment reference data; not carrier routing configuration"
    }
  ],
  "paths": {
    "/v1/tollfree/templates": {
      "get": {
        "tags": [
          "Toll-Free"
        ],
        "summary": "List templates",
        "description": "List available CPR templates for a RespOrg",
        "operationId": "listTemplates",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "respOrgId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Toll-Free"
        ],
        "summary": "Update template",
        "description": "Update an existing CPR template on Somos",
        "operationId": "updateTemplate",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "respOrgId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Toll-Free"
        ],
        "summary": "Create template",
        "description": "Create a new CPR template on Somos",
        "operationId": "createTemplate",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "respOrgId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tollfree/templates/{tmplName}/unlock": {
      "put": {
        "tags": [
          "Toll-Free"
        ],
        "summary": "Unlock template",
        "description": "Unlock a template after editing",
        "operationId": "unlockTemplate",
        "parameters": [
          {
            "name": "tmplName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "effDtTm",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "respOrgId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tollfree/templates/{tmplName}/lock": {
      "put": {
        "tags": [
          "Toll-Free"
        ],
        "summary": "Lock template",
        "description": "Lock a template for editing",
        "operationId": "lockTemplate",
        "parameters": [
          {
            "name": "tmplName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "effDtTm",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "respOrgId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tollfree/query": {
      "put": {
        "tags": [
          "Toll-Free"
        ],
        "summary": "Query TFN status",
        "description": "Query toll-free number status and details from Somos registry",
        "operationId": "queryNumbers",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "respOrgId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/roc/projects/{projectId}/tfns/remove": {
      "put": {
        "tags": [
          "ROC"
        ],
        "summary": "Remove TFNs from open ROC transaction",
        "operationId": "removeTfns",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "respOrgId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/roc/projects/{projectId}/cancel": {
      "put": {
        "tags": [
          "ROC"
        ],
        "summary": "Cancel ROC",
        "operationId": "cancelRoc",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "respOrgId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/roc/inbound/projects/{projectId}/process": {
      "put": {
        "tags": [
          "ROC"
        ],
        "summary": "Process inbound ROC (approve/deny per TFN)",
        "operationId": "processInboundRoc",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RocProcessRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/roc/inbound/projects/{projectId}/checkout": {
      "put": {
        "tags": [
          "ROC"
        ],
        "summary": "Checkout inbound ROC for processing",
        "operationId": "checkoutInboundRoc",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "respOrgId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/roc/inbound/projects/{projectId}/checkin": {
      "put": {
        "tags": [
          "ROC"
        ],
        "summary": "Checkin inbound ROC",
        "operationId": "checkinInboundRoc",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "respOrgId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/port-protection-rules/{ruleId}": {
      "get": {
        "tags": [
          "port-protection-rule-controller"
        ],
        "operationId": "get",
        "parameters": [
          {
            "name": "ruleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PortProtectionRuleResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "port-protection-rule-controller"
        ],
        "operationId": "update",
        "parameters": [
          {
            "name": "ruleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRuleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PortProtectionRuleResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "port-protection-rule-controller"
        ],
        "operationId": "delete",
        "parameters": [
          {
            "name": "ruleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/port-projects/projects/{projectId}": {
      "get": {
        "tags": [
          "Bulk Port"
        ],
        "summary": "Get a specific bulk port project",
        "operationId": "getProject_1",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PortProjectResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Bulk Port"
        ],
        "summary": "Update a bulk port project",
        "operationId": "updateProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PortProjectUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PortProjectResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Bulk Port"
        ],
        "summary": "Delete a bulk port project",
        "operationId": "deleteProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/port-projects/projects/{projectId}/details/{tn}": {
      "put": {
        "tags": [
          "Bulk Port"
        ],
        "summary": "Update a specific TN detail in the project",
        "operationId": "updateProjectDetail",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tn",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PortProjectUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PortProjectDetailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/port-projects/projects/{projectId}/auto-activation": {
      "get": {
        "tags": [
          "Bulk Port"
        ],
        "summary": "Get auto-activation settings for a project",
        "operationId": "getAutoActivationSettings",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AutoActivationSettingsResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Bulk Port"
        ],
        "summary": "Update auto-activation settings for a project",
        "operationId": "updateAutoActivationSettings",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutoActivationSettingsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PortProjectResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/port-out-releases/projects/{projectId}/details/{tn}": {
      "put": {
        "tags": [
          "Port-Out Release"
        ],
        "summary": "Update TN details in a port-out release project",
        "description": "Updates subscriber data for a TN (for manual entry when not in inventory)",
        "operationId": "updateDetail",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tn",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PortProjectDetail"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PortProjectDetailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messaging/nnids/{nnidId}": {
      "get": {
        "tags": [
          "Messaging NNIDs"
        ],
        "summary": "Get NNID",
        "operationId": "getNnid",
        "parameters": [
          {
            "name": "nnidId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Messaging NNIDs"
        ],
        "summary": "Update NNID",
        "operationId": "updateNnid",
        "parameters": [
          {
            "name": "nnidId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNnidRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Messaging NNIDs"
        ],
        "summary": "Delete NNID",
        "operationId": "deleteNnid",
        "parameters": [
          {
            "name": "nnidId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messaging/nnid-hold/policies/{spid}": {
      "put": {
        "tags": [
          "Messaging NNID Hold"
        ],
        "summary": "Set NNID hold policy",
        "description": "Enable/disable the hold policy for a SPID and set its hold NNID (upserts)",
        "operationId": "setPolicy",
        "parameters": [
          {
            "name": "spid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NnidHoldPolicyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messaging/campaigns/{campaignId}": {
      "get": {
        "tags": [
          "Messaging Campaigns"
        ],
        "summary": "Get campaign",
        "operationId": "getCampaign",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Messaging Campaigns"
        ],
        "summary": "Update campaign",
        "operationId": "updateCampaign",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCampaignRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messaging/campaigns/{campaignId}/resubmit": {
      "put": {
        "tags": [
          "Messaging Campaigns"
        ],
        "summary": "Resubmit campaign",
        "description": "Resubmit campaign to specified MNOs",
        "operationId": "resubmitCampaign",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "object"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messaging/campaigns/{campaignId}/application": {
      "put": {
        "tags": [
          "Messaging Campaigns"
        ],
        "summary": "Bind consumer application association (local only)",
        "description": "Local binding only — never contacts The Campaign Registry. Stamps applicationId/applicationMetadata (#267's consumer-association key) onto an EXISTING campaign without rebuilding/forwarding a TCR update, unlike PUT /campaigns/{campaignId} which would push a destructive sparse update to TCR. For consumer (WARP) application binding during their link-table retirement backfill; see issue #371.",
        "operationId": "bindCampaignApplication",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BindApplicationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messaging/brands/{brandId}": {
      "get": {
        "tags": [
          "Messaging Brands"
        ],
        "summary": "Get brand",
        "description": "Get a specific 10DLC brand by ID",
        "operationId": "getBrand",
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Messaging Brands"
        ],
        "summary": "Update brand",
        "description": "Update an existing 10DLC brand",
        "operationId": "updateBrand",
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBrandRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Messaging Brands"
        ],
        "summary": "Delete brand",
        "description": "Delete a 10DLC brand (must have no campaigns)",
        "operationId": "deleteBrand",
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messaging/brands/{brandId}/revet": {
      "put": {
        "tags": [
          "Messaging Brands"
        ],
        "summary": "Resubmit brand for verification",
        "operationId": "revet",
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messaging/brands/{brandId}/application": {
      "put": {
        "tags": [
          "Messaging Brands"
        ],
        "summary": "Bind consumer application association (local only)",
        "description": "Local binding only — never contacts The Campaign Registry. Stamps applicationId/applicationMetadata (#267's consumer-association key) onto an EXISTING brand without rebuilding/forwarding a TCR update, unlike PUT /{brandId} which would push a destructive sparse update to TCR. For consumer (WARP) application binding during their link-table retirement backfill; see issue #371.",
        "operationId": "bindBrandApplication",
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BindApplicationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/numbers/{telephoneNumber}/pin": {
      "put": {
        "tags": [
          "Number Inventory"
        ],
        "summary": "Set port-out PIN",
        "description": "Set or clear the port-out PIN for a telephone number. Send null or empty to clear.",
        "operationId": "updatePortOutPin",
        "parameters": [
          {
            "name": "telephoneNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "object"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/numbers/{telephoneNumber}/metadata": {
      "put": {
        "tags": [
          "Number Inventory"
        ],
        "summary": "Update metadata",
        "description": "Update custom metadata for an assigned telephone number",
        "operationId": "updateMetadata",
        "parameters": [
          {
            "name": "telephoneNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "object"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/numbers/by-id/{id}/metadata": {
      "put": {
        "tags": [
          "Number Inventory"
        ],
        "summary": "Update metadata by ID",
        "description": "Update metadata using record ID (avoids duplicate TN issues)",
        "operationId": "updateMetadataById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "object"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tollfree/templates/{tmplName}/disconnect": {
      "post": {
        "tags": [
          "Toll-Free"
        ],
        "summary": "Disconnect template",
        "description": "Disconnect a template on Somos",
        "operationId": "disconnectTemplate",
        "parameters": [
          {
            "name": "tmplName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "effDtTm",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "respOrgId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tollfree/templates/drafts": {
      "get": {
        "tags": [
          "Toll-Free"
        ],
        "summary": "List drafts",
        "description": "List template drafts for a customer",
        "operationId": "listDrafts",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Toll-Free"
        ],
        "summary": "Save draft",
        "description": "Create or update a template draft",
        "operationId": "saveDraft",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateDraftDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tollfree/templates/drafts/{draftId}/push": {
      "post": {
        "tags": [
          "Toll-Free"
        ],
        "summary": "Push draft to Somos",
        "description": "Push a template draft to Somos (create or update)",
        "operationId": "pushDraftToSomos",
        "parameters": [
          {
            "name": "draftId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "respOrgId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tollfree/templates/copy": {
      "post": {
        "tags": [
          "Toll-Free"
        ],
        "summary": "Copy template",
        "description": "Copy a template to a new name or future effective date",
        "operationId": "copyTemplate",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "respOrgId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateCopyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tollfree/sync/{syncJobId}/reject": {
      "post": {
        "tags": [
          "Toll-Free Sync"
        ],
        "summary": "Reject staged sync",
        "description": "Discard the staged toll-free sync results without applying them to live inventory",
        "operationId": "rejectSync",
        "parameters": [
          {
            "name": "syncJobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RejectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tollfree/sync/{syncJobId}/commit": {
      "post": {
        "tags": [
          "Toll-Free Sync"
        ],
        "summary": "Commit staged sync",
        "description": "Apply the staged toll-free sync results to live inventory",
        "operationId": "commitSync",
        "parameters": [
          {
            "name": "syncJobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tollfree/sync/start": {
      "post": {
        "tags": [
          "Toll-Free Sync"
        ],
        "summary": "Start inventory sync",
        "description": "Start a background toll-free inventory sync for a customer. By default the run stages results for review (autoCommit=false); set autoCommit=true to apply changes directly to the live inventory.",
        "operationId": "startSync",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartSyncRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tollfree/search-spare": {
      "post": {
        "tags": [
          "Toll-Free"
        ],
        "summary": "Search spare numbers",
        "description": "Search for available toll-free numbers by wildcard pattern (search only, does not reserve)",
        "operationId": "searchSpareNumbers",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "respOrgId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpareSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tollfree/search-and-reserve": {
      "post": {
        "tags": [
          "Toll-Free"
        ],
        "summary": "Search & reserve",
        "description": "Search for spare toll-free numbers and reserve them in one operation",
        "operationId": "searchAndReserve",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "respOrgId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpareSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tollfree/reserve": {
      "post": {
        "tags": [
          "Toll-Free"
        ],
        "summary": "Reserve specific numbers",
        "description": "Reserve specific toll-free numbers by number list",
        "operationId": "reserveNumbers",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "respOrgId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReserveRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tollfree/ptr-operations/{id}/retry": {
      "post": {
        "tags": [
          "Toll-Free"
        ],
        "summary": "Retry a failed/timed-out PTR operation",
        "description": "Clone target_template_name + svc_order_num from the source op into a fresh op; returns 202 with the new op",
        "operationId": "retryPtrOperation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TollFreePtrOperationDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tollfree/disconnect/{num}": {
      "post": {
        "tags": [
          "Toll-Free"
        ],
        "summary": "Disconnect TFN",
        "description": "Disconnect an active toll-free number (WORKING → DISCONNECT)",
        "operationId": "disconnectNumber",
        "parameters": [
          {
            "name": "num",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "respOrgId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tollfree/change-resporg": {
      "post": {
        "tags": [
          "Toll-Free"
        ],
        "summary": "Change RespOrg",
        "description": "Transfer toll-free numbers to a different RespOrg within the same entity",
        "operationId": "changeRespOrg",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "object"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tollfree/activate": {
      "post": {
        "tags": [
          "Toll-Free"
        ],
        "summary": "Activate TFNs",
        "description": "Create pointer records to activate reserved toll-free numbers with a CPR template",
        "operationId": "activateNumbers",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "respOrgId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/runs/{id}/ack": {
      "post": {
        "tags": [
          "Job Runs"
        ],
        "summary": "Acknowledge a run's warnings/failure",
        "description": "Non-admin callers may only acknowledge runs scoped to their own customer(s). Only terminal runs can be acknowledged (409 while still IN_PROGRESS). Ack is first-wins and idempotent: a repeat call returns the original ack (alreadyAcked=true) without overwriting it.",
        "operationId": "acknowledge",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/JobRunAckResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/roc/webhook": {
      "post": {
        "tags": [
          "ROC"
        ],
        "summary": "Somos ROC webhook receiver",
        "description": "Receives push notifications from Somos when ROC status changes. No JWT required.",
        "operationId": "handleWebhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "object"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/roc/sync": {
      "post": {
        "tags": [
          "ROC"
        ],
        "summary": "Sync ROC requests from Somos search",
        "operationId": "syncFromSomos",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RocSyncRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/roc/projects": {
      "get": {
        "tags": [
          "ROC"
        ],
        "summary": "List ROC projects",
        "operationId": "listProjects",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "ROC"
        ],
        "summary": "Create ROC project",
        "description": "Create a new outbound ROC request (DRAFT)",
        "operationId": "createProject",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RocCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/roc/projects/{projectId}/submit": {
      "post": {
        "tags": [
          "ROC"
        ],
        "summary": "Submit ROC to Somos",
        "operationId": "submitRoc",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RocSubmitRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/roc/projects/{projectId}/refresh": {
      "post": {
        "tags": [
          "ROC"
        ],
        "summary": "Refresh ROC status from Somos",
        "operationId": "refreshProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "respOrgId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/roc/projects/{projectId}/loa/upload": {
      "post": {
        "tags": [
          "ROC"
        ],
        "summary": "Upload LOA file",
        "operationId": "uploadLoa",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "respOrgId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/roc/projects/{projectId}/loa/generate": {
      "post": {
        "tags": [
          "ROC"
        ],
        "summary": "Generate LOA from Somos",
        "operationId": "generateLoa",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RocLoaGenerateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/roc/projects/{projectId}/escalate-hdi": {
      "post": {
        "tags": [
          "ROC"
        ],
        "summary": "Escalate to Somos Help Desk",
        "operationId": "escalateToHdi",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "respOrgId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "loaId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/roc/projects/{projectId}/documents/upload": {
      "post": {
        "tags": [
          "ROC"
        ],
        "summary": "Upload additional document",
        "operationId": "uploadDocument",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "respOrgId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileTitle",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "notes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/reports/jobs": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "List my recent report jobs",
        "description": "Returns the requesting user's most recent report jobs, newest first.",
        "operationId": "listMyJobs",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReportJobResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Reports"
        ],
        "summary": "Queue a new report job",
        "description": "Creates a QUEUED report job. The file is emailed to the authenticated user when generation completes.",
        "operationId": "queueJob",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReportJobRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/reference-data/cics/resolve": {
      "post": {
        "tags": [
          "CIC Reference Data"
        ],
        "summary": "Resolve up to 100 distinct CICs in one bounded request",
        "operationId": "resolve",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CicResolveRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CicResolveResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/port-protection-rules": {
      "get": {
        "tags": [
          "port-protection-rule-controller"
        ],
        "operationId": "list_2",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PortProtectionRuleResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "port-protection-rule-controller"
        ],
        "operationId": "create",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRuleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PortProtectionRuleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/port-projects/workflow-rules": {
      "get": {
        "tags": [
          "Bulk Port"
        ],
        "summary": "Get workflow rules for customer",
        "operationId": "getWorkflowRules",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "activeOnly",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Bulk Port"
        ],
        "summary": "Create workflow automation rule",
        "operationId": "createWorkflowRule",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "object"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/port-projects/projects": {
      "get": {
        "tags": [
          "Bulk Port"
        ],
        "summary": "Get all bulk port projects for the authenticated customer",
        "operationId": "getProjects",
        "parameters": [
          {
            "name": "spid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagePortProjectResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Bulk Port"
        ],
        "summary": "Create a new bulk port project",
        "operationId": "createProject_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PortProjectCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PortProjectResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/port-projects/projects/{projectId}/validate": {
      "post": {
        "tags": [
          "Bulk Port"
        ],
        "summary": "Trigger validation for all TNs in the project",
        "operationId": "validateProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/port-projects/projects/{projectId}/upload": {
      "post": {
        "tags": [
          "Bulk Port"
        ],
        "summary": "Upload CSV or Excel file with TNs to port",
        "operationId": "uploadFile",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "autoAssignLrn",
            "in": "query",
            "description": "Auto-assign first LRN when multiple are available",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "CSV or Excel file containing TNs",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PortProjectUploadResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/port-projects/projects/{projectId}/tns": {
      "post": {
        "tags": [
          "Bulk Port"
        ],
        "summary": "Add TNs to a project via JSON",
        "description": "Adds a JSON array of TNs (with optional LRNs) to a project. Processed through the same validation pipeline as the file /upload endpoint.",
        "operationId": "addTns",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddTnsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PortProjectUploadResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/port-projects/projects/{projectId}/sync": {
      "post": {
        "tags": [
          "Bulk Port"
        ],
        "summary": "Sync project port states with NPAC reality (async reconciliation)",
        "operationId": "syncProjectWithNpac",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/port-projects/projects/{projectId}/submit": {
      "post": {
        "tags": [
          "Bulk Port"
        ],
        "summary": "Submit all valid TNs in the project to SOA",
        "operationId": "submitProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "dueDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/port-projects/projects/{projectId}/sms-impact-check": {
      "post": {
        "tags": [
          "Bulk Port"
        ],
        "summary": "Queue an NNID/SMS impact check for this project's TNs",
        "description": "Dips nnSR for every TN in the project and reports which carry third-party SMS association that porting would break. Capped at 1,000 TNs; the report is emailed and the affected TNs are advisory-stamped with an nnid_warning.",
        "operationId": "runSmsImpactCheck",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/port-projects/projects/{projectId}/resubmit-failed": {
      "post": {
        "tags": [
          "Bulk Port"
        ],
        "summary": "Correct & Resubmit — re-drive all FAILED TNs on a rejected project",
        "operationId": "resubmitAllFailed",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResubmitFailedRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/port-projects/projects/{projectId}/progress/detailed": {
      "post": {
        "tags": [
          "Bulk Port"
        ],
        "summary": "Get detailed progress with events and error grouping",
        "operationId": "getDetailedProgress",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PortProjectProgressRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PortProjectProgressResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/port-projects/projects/{projectId}/priority": {
      "post": {
        "tags": [
          "Bulk Port"
        ],
        "summary": "Set project priority",
        "operationId": "setProjectPriority",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "priority",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PortProjectResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/port-projects/projects/{projectId}/emails": {
      "get": {
        "tags": [
          "Carrier Email"
        ],
        "summary": "List emails on this project (newest first)",
        "operationId": "list_3",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CarrierEmailDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Carrier Email"
        ],
        "summary": "Send a carrier coordination email (multipart: payload JSON + optional files)",
        "operationId": "send",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "payload"
                ],
                "type": "object",
                "properties": {
                  "payload": {
                    "$ref": "#/components/schemas/CarrierEmailSendRequest"
                  },
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CarrierEmailDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/port-projects/projects/{projectId}/emails/lsr-preview": {
      "post": {
        "tags": [
          "Carrier Email"
        ],
        "summary": "Render the filled LSR form for preview (no send, no persistence)",
        "operationId": "lsrPreview",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LsrPreviewRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/LsrPreviewResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/port-projects/projects/{projectId}/documents/upload": {
      "post": {
        "tags": [
          "Port Project Documents"
        ],
        "summary": "Upload a supporting document to a port-in project",
        "operationId": "upload",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "LOA",
                "BILL",
                "LSR",
                "CSR",
                "OTHER"
              ]
            }
          },
          {
            "name": "tn",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "notes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signerName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signedAt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signerIp",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "replacesDocumentId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PortProjectDocumentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/port-projects/projects/{projectId}/details/{tn}/fix-ddd-mismatch": {
      "post": {
        "tags": [
          "Bulk Port"
        ],
        "summary": "Fix DDD mismatch error by applying corrected due date",
        "operationId": "fixDddMismatch",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tn",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "correctedDdd",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/port-projects/projects/{projectId}/cancel": {
      "post": {
        "tags": [
          "Bulk Port"
        ],
        "summary": "Cancel entire project - cancels all TNs and sets project to CANCELLED",
        "operationId": "cancelProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
[...]
