{"openapi":"3.0.1","info":{"title":"TNIQ by Ringer — Customer API","description":"External API for TNIQ customers.\n\nProvides endpoints for:\n- **SOA Operations** — Port request lifecycle (activate, cancel, release, disconnect, conflict, IntraSP)\n- **Number Inventory** — Search, reserve, assign, release, audit, and report on telephone numbers\n- **Toll-Free** — Somos TFN Registry integration (search, reserve, activate PTR, disconnect)\n- **Messaging / 10DLC** — TCR brand and campaign registration, CNP election, number assignment\n- **CNAM** — Caller Name ID management\n- **ROC** — Responsible Organization Change workflows\n- **Port Projects** — Bulk port order management with CSV/Excel upload\n- **Port-Out Releases** — NPAC release management\n\nAuthentication: Include your API token in the Authorization header:\n`Authorization: Bearer YOUR_TOKEN`","contact":{"name":"Ringer API Support","url":"https://ringer.tel","email":"api-support@ringer.tel"},"version":"v1"},"servers":[{"url":"https://soa-api.ringer.tel","description":"Production"},{"url":"https://staging-api.ringer.tel","description":"Staging"}],"tags":[{"name":"Toll-Free","description":"Toll-free number management via Somos TFN Registry"},{"name":"Bulk Port Jobs","description":"Background job monitoring and management"},{"name":"Number Inventory Query","description":"Query-based inventory search with powerful filter language"},{"name":"Number Inventory","description":"Search and query number inventory"},{"name":"Port-Out Release","description":"Port-out release project management for NPAC releases"},{"name":"Messaging Enums","description":"TCR reference data: use cases, verticals, entity types"},{"name":"ROC","description":"Resp Org Change workflow management"},{"name":"Messaging Campaigns","description":"10DLC campaign management and phone number assignment"},{"name":"Messaging Brands","description":"10DLC brand registration and management"},{"name":"TCR Webhooks","description":"TCR webhook event receiver and event history"},{"name":"Inventory Reports","description":"Generate and download inventory reports"},{"name":"SOA Operations","description":"Service Order Administration endpoints for Local Number Portability"},{"name":"Number Inventory Audit","description":"Three-phase inventory audit operations"},{"name":"Toll-Free Sync","description":"Toll-free number inventory synchronization"},{"name":"Messaging NNIDs","description":"NetNumber ID management for SMS provisioning"},{"name":"Bulk Port","description":"Bulk port project management"},{"name":"Inventory Map","description":"Geographic inventory visualization data"}],"paths":{"/api/v1/tollfree/templates":{"get":{"tags":["Toll-Free"],"summary":"List templates","description":"List available CPR templates for a RespOrg","operationId":"listTemplates","parameters":[{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"respOrgId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"put":{"tags":["Toll-Free"],"summary":"Update template","description":"Update an existing CPR template on Somos","operationId":"updateTemplate","parameters":[{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"respOrgId","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"post":{"tags":["Toll-Free"],"summary":"Create template","description":"Create a new CPR template on Somos","operationId":"createTemplate","parameters":[{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"respOrgId","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/tollfree/templates/{tmplName}/unlock":{"put":{"tags":["Toll-Free"],"summary":"Unlock template","description":"Unlock a template after editing","operationId":"unlockTemplate","parameters":[{"name":"tmplName","in":"path","required":true,"schema":{"type":"string"}},{"name":"effDtTm","in":"query","required":true,"schema":{"type":"string"}},{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"respOrgId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/tollfree/templates/{tmplName}/lock":{"put":{"tags":["Toll-Free"],"summary":"Lock template","description":"Lock a template for editing","operationId":"lockTemplate","parameters":[{"name":"tmplName","in":"path","required":true,"schema":{"type":"string"}},{"name":"effDtTm","in":"query","required":true,"schema":{"type":"string"}},{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"respOrgId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/tollfree/query":{"put":{"tags":["Toll-Free"],"summary":"Query TFN status","description":"Query toll-free number status and details from Somos registry","operationId":"queryNumbers","parameters":[{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"respOrgId","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/roc/projects/{projectId}/tfns/remove":{"put":{"tags":["ROC"],"summary":"Remove TFNs from open ROC transaction","operationId":"removeTfns","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"respOrgId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/roc/projects/{projectId}/cancel":{"put":{"tags":["ROC"],"summary":"Cancel ROC","operationId":"cancelRoc","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"respOrgId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/roc/inbound/projects/{projectId}/process":{"put":{"tags":["ROC"],"summary":"Process inbound ROC (approve/deny per TFN)","operationId":"processInboundRoc","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RocProcessRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/roc/inbound/projects/{projectId}/checkout":{"put":{"tags":["ROC"],"summary":"Checkout inbound ROC for processing","operationId":"checkoutInboundRoc","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"respOrgId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/roc/inbound/projects/{projectId}/checkin":{"put":{"tags":["ROC"],"summary":"Checkin inbound ROC","operationId":"checkinInboundRoc","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"respOrgId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/port-projects/projects/{projectId}":{"get":{"tags":["Bulk Port"],"summary":"Get a specific bulk port project","operationId":"getProject_1","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PortProjectResponse"}}}}}},"put":{"tags":["Bulk Port"],"summary":"Update a bulk port project","operationId":"updateProject","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PortProjectUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PortProjectResponse"}}}}}},"delete":{"tags":["Bulk Port"],"summary":"Delete a bulk port project","operationId":"deleteProject","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/port-projects/projects/{projectId}/details/{tn}":{"put":{"tags":["Bulk Port"],"summary":"Update a specific TN detail in the project","operationId":"updateProjectDetail","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"tn","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PortProjectUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PortProjectDetailResponse"}}}}}}},"/api/v1/port-projects/projects/{projectId}/auto-activation":{"get":{"tags":["Bulk Port"],"summary":"Get auto-activation settings for a project","operationId":"getAutoActivationSettings","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AutoActivationSettingsResponse"}}}}}},"put":{"tags":["Bulk Port"],"summary":"Update auto-activation settings for a project","operationId":"updateAutoActivationSettings","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutoActivationSettingsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PortProjectResponse"}}}}}}},"/api/v1/port-out-releases/projects/{projectId}/details/{tn}":{"put":{"tags":["Port-Out Release"],"summary":"Update TN details in a port-out release project","description":"Updates subscriber data for a TN (for manual entry when not in inventory)","operationId":"updateDetail","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"tn","in":"path","required":true,"schema":{"type":"string"}},{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PortProjectDetail"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PortProjectDetailResponse"}}}}}}},"/api/v1/messaging/nnids/{nnidId}":{"get":{"tags":["Messaging NNIDs"],"summary":"Get NNID","operationId":"getNnid","parameters":[{"name":"nnidId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"customerId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"put":{"tags":["Messaging NNIDs"],"summary":"Update NNID","operationId":"updateNnid","parameters":[{"name":"nnidId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"customerId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateNnidRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"delete":{"tags":["Messaging NNIDs"],"summary":"Delete NNID","operationId":"deleteNnid","parameters":[{"name":"nnidId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"customerId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/messaging/campaigns/{campaignId}":{"get":{"tags":["Messaging Campaigns"],"summary":"Get campaign","operationId":"getCampaign","parameters":[{"name":"campaignId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"customerId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"put":{"tags":["Messaging Campaigns"],"summary":"Update campaign","operationId":"updateCampaign","parameters":[{"name":"campaignId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"customerId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCampaignRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/messaging/campaigns/{campaignId}/resubmit":{"put":{"tags":["Messaging Campaigns"],"summary":"Resubmit campaign","description":"Resubmit campaign to specified MNOs","operationId":"resubmitCampaign","parameters":[{"name":"campaignId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"customerId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/messaging/brands/{brandId}":{"get":{"tags":["Messaging Brands"],"summary":"Get brand","description":"Get a specific 10DLC brand by ID","operationId":"getBrand","parameters":[{"name":"brandId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"customerId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"put":{"tags":["Messaging Brands"],"summary":"Update brand","description":"Update an existing 10DLC brand","operationId":"updateBrand","parameters":[{"name":"brandId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"customerId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBrandRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"delete":{"tags":["Messaging Brands"],"summary":"Delete brand","description":"Delete a 10DLC brand (must have no campaigns)","operationId":"deleteBrand","parameters":[{"name":"brandId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"customerId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/inventory/numbers/{telephoneNumber}/metadata":{"put":{"tags":["Number Inventory"],"summary":"Update metadata","description":"Update custom metadata for an assigned telephone number","operationId":"updateMetadata","parameters":[{"name":"telephoneNumber","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/inventory/numbers/by-id/{id}/metadata":{"put":{"tags":["Number Inventory"],"summary":"Update metadata by ID","description":"Update metadata using record ID (avoids duplicate TN issues)","operationId":"updateMetadataById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/lnp/soa/release":{"post":{"tags":["SOA Operations"],"summary":"Release a port request","description":"Releases a telephone number from a port request","operationId":"release","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaReleaseRequest"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaReleaseRequest"}}},"required":true},"responses":{"200":{"description":"Release successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}},"404":{"description":"Port request not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}},"403":{"description":"SPID not authorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/lnp/soa/lrn/remove":{"post":{"tags":["SOA Operations"],"summary":"Remove an LRN","description":"Removes an existing Local Routing Number","operationId":"removeLrn","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaLrnRemoveRequest"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaLrnRemoveRequest"}}},"required":true},"responses":{"200":{"description":"LRN removed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}},"404":{"description":"LRN not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}},"403":{"description":"SPID not authorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/lnp/soa/lrn/create":{"post":{"tags":["SOA Operations"],"summary":"Create an LRN","description":"Creates a new Local Routing Number","operationId":"createLrn","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaLrnCreateRequest"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaLrnCreateRequest"}}},"required":true},"responses":{"201":{"description":"LRN created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}},"403":{"description":"SPID not authorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}},"409":{"description":"LRN already exists","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/lnp/soa/intrasp":{"post":{"tags":["SOA Operations"],"summary":"IntraSP transfer","description":"Performs an intra-service provider number portability transfer, updating the LRN without a full port order","operationId":"intraSp","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaIntraSpRequest"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaIntraSpRequest"}}},"required":true},"responses":{"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}},"200":{"description":"IntraSP transfer successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}},"403":{"description":"SPID not authorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}},"400":{"description":"Pre-flight validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/lnp/soa/events/{recno}/acknowledge":{"post":{"tags":["SOA Operations"],"summary":"Acknowledge an event","description":"Acknowledges a specific SOA event by record number","operationId":"acknowledgeEvent","parameters":[{"name":"recno","in":"path","description":"Record number of the event to acknowledge","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Event acknowledged successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}},"404":{"description":"Event not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/lnp/soa/disconnect":{"post":{"tags":["SOA Operations"],"summary":"Disconnect a number","description":"Disconnects a telephone number from service","operationId":"disconnect","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaDisconnectRequest"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaDisconnectRequest"}}},"required":true},"responses":{"200":{"description":"Disconnection successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}},"403":{"description":"SPID not authorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/lnp/soa/create":{"post":{"tags":["SOA Operations"],"summary":"Create a new port request [DEPRECATED]","description":"DEPRECATED: Use Port Orders system instead (POST /api/v1/port-projects/projects). This endpoint will be removed in v3.0.0.","operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaCreateRequest"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaCreateRequest"}}},"required":true},"responses":{"410":{"description":"Gone - Use Port Orders system","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}},"deprecated":true,"security":[{"bearerAuth":[]}]}},"/v1/lnp/soa/conflict/remove":{"post":{"tags":["SOA Operations"],"summary":"Remove a conflict","description":"Removes a telephone number from conflict status","operationId":"removeConflict","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaConflictRemoveRequest"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaConflictRemoveRequest"}}},"required":true},"responses":{"200":{"description":"Conflict removed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/lnp/soa/conflict/create":{"post":{"tags":["SOA Operations"],"summary":"Create a conflict","description":"Places a telephone number into conflict status","operationId":"createConflict","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaConflictCreateRequest"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaConflictCreateRequest"}}},"required":true},"responses":{"200":{"description":"Conflict created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/lnp/soa/cancel":{"post":{"tags":["SOA Operations"],"summary":"Cancel a port request","description":"Cancels an existing port request for a telephone number","operationId":"cancel","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaCancelRequest"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaCancelRequest"}}},"required":true},"responses":{"200":{"description":"Cancellation successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}},"404":{"description":"Port request not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}},"403":{"description":"SPID not authorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/lnp/soa/activate":{"post":{"tags":["SOA Operations"],"summary":"Activate a ported number","description":"Activates a telephone number that has been ported","operationId":"activate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaActivateRequest"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaActivateRequest"}}},"required":true},"responses":{"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}},"200":{"description":"Activation successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}},"403":{"description":"SPID not authorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}},"503":{"description":"Service unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/tollfree/templates/{tmplName}/disconnect":{"post":{"tags":["Toll-Free"],"summary":"Disconnect template","description":"Disconnect a template on Somos","operationId":"disconnectTemplate","parameters":[{"name":"tmplName","in":"path","required":true,"schema":{"type":"string"}},{"name":"effDtTm","in":"query","required":true,"schema":{"type":"string"}},{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"respOrgId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/tollfree/templates/drafts":{"get":{"tags":["Toll-Free"],"summary":"List drafts","description":"List template drafts for a customer","operationId":"listDrafts","parameters":[{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"post":{"tags":["Toll-Free"],"summary":"Save draft","description":"Create or update a template draft","operationId":"saveDraft","parameters":[{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateDraftDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/tollfree/templates/drafts/{draftId}/push":{"post":{"tags":["Toll-Free"],"summary":"Push draft to Somos","description":"Push a template draft to Somos (create or update)","operationId":"pushDraftToSomos","parameters":[{"name":"draftId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"respOrgId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/tollfree/templates/copy":{"post":{"tags":["Toll-Free"],"summary":"Copy template","description":"Copy a template to a new name or future effective date","operationId":"copyTemplate","parameters":[{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"respOrgId","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateCopyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/tollfree/sync/start":{"post":{"tags":["Toll-Free Sync"],"summary":"Start inventory sync","description":"Start a background toll-free inventory sync for a customer","operationId":"startSync","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartSyncRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/tollfree/search-spare":{"post":{"tags":["Toll-Free"],"summary":"Search spare numbers","description":"Search for available toll-free numbers by wildcard pattern (search only, does not reserve)","operationId":"searchSpareNumbers","parameters":[{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"respOrgId","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpareSearchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/tollfree/search-and-reserve":{"post":{"tags":["Toll-Free"],"summary":"Search & reserve","description":"Search for spare toll-free numbers and reserve them in one operation","operationId":"searchAndReserve","parameters":[{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"respOrgId","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpareSearchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/tollfree/reserve":{"post":{"tags":["Toll-Free"],"summary":"Reserve specific numbers","description":"Reserve specific toll-free numbers by number list","operationId":"reserveNumbers","parameters":[{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"respOrgId","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReserveRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/tollfree/disconnect/{num}":{"post":{"tags":["Toll-Free"],"summary":"Disconnect TFN","description":"Disconnect an active toll-free number (WORKING → DISCONNECT)","operationId":"disconnectNumber","parameters":[{"name":"num","in":"path","required":true,"schema":{"type":"string"}},{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"respOrgId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/tollfree/change-resporg":{"post":{"tags":["Toll-Free"],"summary":"Change RespOrg","description":"Transfer toll-free numbers to a different RespOrg within the same entity","operationId":"changeRespOrg","parameters":[{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/tollfree/activate":{"post":{"tags":["Toll-Free"],"summary":"Activate TFNs","description":"Create pointer records to activate reserved toll-free numbers with a CPR template","operationId":"activateNumbers","parameters":[{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"respOrgId","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/roc/webhook":{"post":{"tags":["ROC"],"summary":"Somos ROC webhook receiver","description":"Receives push notifications from Somos when ROC status changes. No JWT required.","operationId":"handleWebhook","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/roc/sync":{"post":{"tags":["ROC"],"summary":"Sync ROC requests from Somos search","operationId":"syncFromSomos","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RocSyncRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/roc/projects":{"get":{"tags":["ROC"],"summary":"List ROC projects","operationId":"listProjects","parameters":[{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"direction","in":"query","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":50}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"post":{"tags":["ROC"],"summary":"Create ROC project","description":"Create a new outbound ROC request (DRAFT)","operationId":"createProject","parameters":[{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RocCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/roc/projects/{projectId}/submit":{"post":{"tags":["ROC"],"summary":"Submit ROC to Somos","operationId":"submitRoc","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RocSubmitRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/roc/projects/{projectId}/refresh":{"post":{"tags":["ROC"],"summary":"Refresh ROC status from Somos","operationId":"refreshProject","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"respOrgId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/roc/projects/{projectId}/loa/upload":{"post":{"tags":["ROC"],"summary":"Upload LOA file","operationId":"uploadLoa","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"respOrgId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/roc/projects/{projectId}/loa/generate":{"post":{"tags":["ROC"],"summary":"Generate LOA from Somos","operationId":"generateLoa","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RocLoaGenerateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/roc/projects/{projectId}/escalate-hdi":{"post":{"tags":["ROC"],"summary":"Escalate to Somos Help Desk","operationId":"escalateToHdi","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"respOrgId","in":"query","required":true,"schema":{"type":"string"}},{"name":"loaId","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/roc/projects/{projectId}/documents/upload":{"post":{"tags":["ROC"],"summary":"Upload additional document","operationId":"uploadDocument","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"respOrgId","in":"query","required":true,"schema":{"type":"string"}},{"name":"fileTitle","in":"query","required":false,"schema":{"type":"string"}},{"name":"notes","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/port-projects/workflow-rules":{"get":{"tags":["Bulk Port"],"summary":"Get workflow rules for customer","operationId":"getWorkflowRules","parameters":[{"name":"customerId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"activeOnly","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"post":{"tags":["Bulk Port"],"summary":"Create workflow automation rule","operationId":"createWorkflowRule","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/port-projects/projects":{"get":{"tags":["Bulk Port"],"summary":"Get all bulk port projects for the authenticated customer","operationId":"getProjects","parameters":[{"name":"spid","in":"query","required":false,"schema":{"type":"string"}},{"name":"customerId","in":"query","required":false,"schema":{"type":"string"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagePortProjectResponse"}}}}}},"post":{"tags":["Bulk Port"],"summary":"Create a new bulk port project","operationId":"createProject_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PortProjectCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PortProjectResponse"}}}}}}},"/api/v1/port-projects/projects/{projectId}/validate":{"post":{"tags":["Bulk Port"],"summary":"Trigger validation for all TNs in the project","operationId":"validateProject","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"customerId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/v1/port-projects/projects/{projectId}/upload":{"post":{"tags":["Bulk Port"],"summary":"Upload CSV or Excel file with TNs to port","operationId":"uploadFile","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"autoAssignLrn","in":"query","description":"Auto-assign first LRN when multiple are available","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","description":"CSV or Excel file containing TNs","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PortProjectUploadResponse"}}}}}}},"/api/v1/port-projects/projects/{projectId}/sync":{"post":{"tags":["Bulk Port"],"summary":"Sync project port states with NPAC reality (async reconciliation)","operationId":"syncProjectWithNpac","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/port-projects/projects/{projectId}/submit":{"post":{"tags":["Bulk Port"],"summary":"Submit all valid TNs in the project to SOA","operationId":"submitProject","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"dueDate","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/v1/port-projects/projects/{projectId}/progress/detailed":{"post":{"tags":["Bulk Port"],"summary":"Get detailed progress with events and error grouping","operationId":"getDetailedProgress","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PortProjectProgressRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PortProjectProgressResponse"}}}}}}},"/api/v1/port-projects/projects/{projectId}/priority":{"post":{"tags":["Bulk Port"],"summary":"Set project priority","operationId":"setProjectPriority","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"priority","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PortProjectResponse"}}}}}}},"/api/v1/port-projects/projects/{projectId}/details/{tn}/fix-ddd-mismatch":{"post":{"tags":["Bulk Port"],"summary":"Fix DDD mismatch error by applying corrected due date","operationId":"fixDddMismatch","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"tn","in":"path","required":true,"schema":{"type":"string"}},{"name":"correctedDdd","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/port-projects/projects/{projectId}/cancel":{"post":{"tags":["Bulk Port"],"summary":"Cancel entire project - cancels all TNs and sets project to CANCELLED","operationId":"cancelProject","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CancelProjectResult"}}}}}}},"/api/v1/port-projects/projects/{projectId}/auto-fix":{"post":{"tags":["Bulk Port"],"summary":"Apply auto-fix to TNs with resolvable errors","operationId":"applyAutoFix","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"errorGroupId","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/port-projects/projects/{projectId}/actions":{"post":{"tags":["Bulk Port"],"summary":"Perform bulk actions on selected TNs","operationId":"performBulkAction","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PortProjectActionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/port-projects/jobs/retry/{jobId}":{"post":{"tags":["Bulk Port Jobs"],"summary":"Retry a specific failed job","operationId":"retryFailedJob","parameters":[{"name":"jobId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RetryJobResponse"}}}}}}},"/api/v1/port-projects/jobs/retry/project/{projectId}":{"post":{"tags":["Bulk Port Jobs"],"summary":"Retry all failed TNs for a project","operationId":"retryAllFailedForProject","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RetryJobResponse"}}}}}}},"/api/v1/port-projects/filter-presets":{"get":{"tags":["Bulk Port"],"summary":"Get saved filter presets","operationId":"getFilterPresets","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"post":{"tags":["Bulk Port"],"summary":"Save filter preset","operationId":"saveFilterPreset","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/port-out-releases/projects":{"get":{"tags":["Port-Out Release"],"summary":"Get port-out release projects","description":"Returns all port-out release projects for the specified customer","operationId":"getProjects_1","parameters":[{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagePortProjectResponse"}}}}}},"post":{"tags":["Port-Out Release"],"summary":"Create a port-out release project","description":"Creates a project with LOSING direction for releasing TNs to NPAC","operationId":"createProject_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PortOutProjectCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PortProjectResponse"}}}}}}},"/api/v1/port-out-releases/projects/{projectId}/submit":{"post":{"tags":["Port-Out Release"],"summary":"Submit port-out releases to NPAC","description":"Submits soareleaseport for all TNs in the project","operationId":"submitProject_1","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"dueDate","in":"query","description":"Due date in MM/dd/yyyy format","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SubmitResultResponse"}}}}}}},"/api/v1/port-out-releases/projects/{projectId}/retry":{"post":{"tags":["Port-Out Release"],"summary":"Retry failed TNs in a port-out release project","description":"Retries soareleaseport for TNs that previously failed","operationId":"retryFailedTns","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"dueDate","in":"query","description":"Due date in MM/dd/yyyy format","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SubmitResultResponse"}}}}}}},"/api/v1/port-out-releases/lookup":{"post":{"tags":["Port-Out Release"],"summary":"Lookup TNs for port-out release","description":"Checks inventory and Telique to gather SPID info and subscriber data for release","operationId":"lookupTns","parameters":[{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TnLookupRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TnLookupResponse"}}}}}}},"/api/v1/messaging/nnids":{"get":{"tags":["Messaging NNIDs"],"summary":"List NNIDs","description":"List all NNIDs for the customer","operationId":"listNnids","parameters":[{"name":"customerId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"post":{"tags":["Messaging NNIDs"],"summary":"Create NNID","description":"Add a new NNID for the customer","operationId":"createNnid","parameters":[{"name":"customerId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateNnidRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/messaging/campaigns":{"get":{"tags":["Messaging Campaigns"],"summary":"List campaigns","description":"List all 10DLC campaigns, optionally filtered by brand","operationId":"listCampaigns","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":25}},{"name":"brandId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"customerId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"post":{"tags":["Messaging Campaigns"],"summary":"Create campaign","description":"Register a new 10DLC campaign with TCR","operationId":"createCampaign","parameters":[{"name":"customerId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCampaignRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/messaging/campaigns/{campaignId}/numbers":{"get":{"tags":["Messaging Campaigns"],"summary":"List assigned numbers","operationId":"listAssignedNumbers","parameters":[{"name":"campaignId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":50}},{"name":"customerId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"post":{"tags":["Messaging Campaigns"],"summary":"Assign numbers to campaign","operationId":"assignNumbers","parameters":[{"name":"campaignId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"customerId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignNumbersRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"delete":{"tags":["Messaging Campaigns"],"summary":"Remove numbers from campaign","operationId":"removeNumbers","parameters":[{"name":"campaignId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"customerId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignNumbersRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/messaging/campaigns/{campaignId}/nudge":{"post":{"tags":["Messaging Campaigns"],"summary":"Nudge CNP","description":"Send a nudge to the CNP to review or appeal a campaign","operationId":"nudgeCampaign","parameters":[{"name":"campaignId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"customerId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/messaging/campaigns/{campaignId}/cnp":{"post":{"tags":["Messaging Campaigns"],"summary":"Elect CNP","description":"Elect a Connectivity Partner for a campaign","operationId":"electCnp","parameters":[{"name":"campaignId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"customerId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/messaging/campaigns/link":{"post":{"tags":["Messaging Campaigns"],"summary":"Link existing TCR campaign","description":"Link an existing TCR campaign (own or partner) to this customer","operationId":"linkCampaign","parameters":[{"name":"customerId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkCampaignRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/messaging/brands":{"get":{"tags":["Messaging Brands"],"summary":"List brands","description":"List all 10DLC brands for the authenticated customer","operationId":"listBrands","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":25}},{"name":"customerId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"post":{"tags":["Messaging Brands"],"summary":"Create brand","description":"Register a new 10DLC brand with TCR","operationId":"createBrand","parameters":[{"name":"customerId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBrandRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/messaging/brands/link":{"post":{"tags":["Messaging Brands"],"summary":"Link existing TCR brand","description":"Link an existing TCR brand to this customer's account","operationId":"linkBrand","parameters":[{"name":"customerId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkBrandRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/inventory/query":{"post":{"tags":["Number Inventory Query"],"summary":"Query inventory","description":"Execute a query using the query language syntax","operationId":"queryInventory","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/inventory/query/validate":{"post":{"tags":["Number Inventory Query"],"summary":"Validate query","description":"Validate query syntax without executing it","operationId":"validateQuery","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/inventory/query/export":{"post":{"tags":["Number Inventory Query"],"summary":"Export inventory to CSV","description":"Stream inventory query results as CSV file","operationId":"exportInventoryToCsv","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExportRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/v1/inventory/numbers/{telephoneNumber}/reserve":{"post":{"tags":["Number Inventory"],"summary":"Reserve number","description":"Reserve a telephone number for an application","operationId":"reserveNumber","parameters":[{"name":"telephoneNumber","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/inventory/numbers/{telephoneNumber}/release":{"post":{"tags":["Number Inventory"],"summary":"Release number","description":"Release a telephone number back to available pool","operationId":"releaseNumber","parameters":[{"name":"telephoneNumber","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/inventory/numbers/{telephoneNumber}/portable":{"get":{"tags":["Number Inventory"],"summary":"Get portable status","description":"Check if a telephone number is marked as portable (bypasses port block)","operationId":"getPortableStatus","parameters":[{"name":"telephoneNumber","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"post":{"tags":["Number Inventory"],"summary":"Mark as portable","description":"Mark a telephone number as portable to bypass port block protection","operationId":"markAsPortable","parameters":[{"name":"telephoneNumber","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"delete":{"tags":["Number Inventory"],"summary":"Clear portable status","description":"Remove portable status from a telephone number (restores port block protection)","operationId":"clearPortable","parameters":[{"name":"telephoneNumber","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/inventory/numbers/{telephoneNumber}/assign":{"post":{"tags":["Number Inventory"],"summary":"Assign number","description":"Assign a telephone number to an application with custom metadata","operationId":"assignNumber","parameters":[{"name":"telephoneNumber","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/inventory/numbers/by-id/{id}/reserve":{"post":{"tags":["Number Inventory"],"summary":"Reserve number by ID","description":"Reserve a telephone number using record ID (avoids duplicate TN issues)","operationId":"reserveNumberById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/inventory/numbers/by-id/{id}/release":{"post":{"tags":["Number Inventory"],"summary":"Release number by ID","description":"Release a telephone number using record ID (avoids duplicate TN issues)","operationId":"releaseNumberById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/inventory/numbers/by-id/{id}/assign":{"post":{"tags":["Number Inventory"],"summary":"Assign number by ID","description":"Assign a telephone number using record ID (avoids duplicate TN issues)","operationId":"assignNumberById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/inventory/map/data":{"post":{"tags":["Inventory Map"],"summary":"Get inventory map data","description":"Returns aggregated inventory statistics by geographic region (state, LATA, rate center, etc.). Results are automatically filtered to customer's allowed SPIDs.","operationId":"getMapData","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InventoryMapRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/inventory/audit/{auditJobId}/reject":{"post":{"tags":["Number Inventory Audit"],"summary":"Reject dry-run","description":"Rejects staging data and cleans up","operationId":"rejectAudit","parameters":[{"name":"auditJobId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/inventory/audit/{auditJobId}/commit":{"post":{"tags":["Number Inventory Audit"],"summary":"Commit dry-run","description":"Commits staging data to live inventory tables","operationId":"commitAudit","parameters":[{"name":"auditJobId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/inventory/audit/start":{"post":{"tags":["Number Inventory Audit"],"summary":"Start inventory audit","description":"Initiates a three-phase inventory audit for the specified SPID","operationId":"startAudit","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartAuditRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/inventory/aggregate":{"post":{"tags":["Number Inventory Query"],"summary":"Aggregate inventory","description":"Get grouped counts of inventory numbers by one or more dimensions","operationId":"aggregateInventory","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/cnam/activate":{"post":{"tags":["trans-union-cnam-controller"],"operationId":"activateCnam","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CnamActivateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/v1/lnp/soa/status/{tn}":{"get":{"tags":["SOA Operations"],"summary":"Get number status","description":"Gets the current status of a telephone number","operationId":"getStatus","parameters":[{"name":"tn","in":"path","description":"10-digit telephone number","required":true,"schema":{"type":"string"},"example":2125551234}],"responses":{"404":{"description":"Number not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaStatusResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaStatusResponse"}}}},"200":{"description":"Status retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaStatusResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaStatusResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaStatusResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaStatusResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/lnp/soa/spid/{tn}":{"get":{"tags":["SOA Operations"],"summary":"Get SPID for number","description":"Gets the current SPID information for a telephone number","operationId":"getSpid","parameters":[{"name":"tn","in":"path","description":"10-digit telephone number","required":true,"schema":{"type":"string"},"example":2125551234}],"responses":{"404":{"description":"Number not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaSpidResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaSpidResponse"}}}},"200":{"description":"SPID retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaSpidResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaSpidResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaSpidResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaSpidResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/lnp/soa/query/{tn}":{"get":{"tags":["SOA Operations"],"summary":"Query port status","description":"Queries the current status and details of a telephone number","operationId":"query","parameters":[{"name":"tn","in":"path","description":"10-digit telephone number","required":true,"schema":{"type":"string"},"example":2125551234},{"name":"newspid","in":"query","description":"4-character SPID","required":false,"schema":{"type":"string"},"example":1234},{"name":"region","in":"query","description":"4-character region ID","required":false,"schema":{"type":"string"},"example":"EAST"}],"responses":{"404":{"description":"Number not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaQueryResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaQueryResponse"}}}},"200":{"description":"Query successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaQueryResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaQueryResponse"}}}},"403":{"description":"SPID not authorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaQueryResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaQueryResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaQueryResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaQueryResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/lnp/soa/events":{"get":{"tags":["SOA Operations"],"summary":"Get SOA events","description":"Retrieves unacknowledged SOA events","operationId":"getEvents","responses":{"200":{"description":"Events retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaEventsResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaEventsResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaEventsResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaEventsResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/lnp/soa/activation-ready/{newspid}":{"get":{"tags":["SOA Operations"],"summary":"Get activation-ready numbers","description":"Gets all numbers ready for activation for a specific SPID","operationId":"getActivationReady","parameters":[{"name":"newspid","in":"path","description":"4-character new SPID","required":true,"schema":{"type":"string"},"example":1234}],"responses":{"403":{"description":"SPID not authorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaActReadyResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaActReadyResponse"}}}},"200":{"description":"Numbers retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaActReadyResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaActReadyResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoaActReadyResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SoaActReadyResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/tollfree/templates/{tmplName}":{"get":{"tags":["Toll-Free"],"summary":"Retrieve full template","description":"Get full template record with CPR data from Somos","operationId":"getTemplate","parameters":[{"name":"tmplName","in":"path","required":true,"schema":{"type":"string"}},{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"respOrgId","in":"query","required":false,"schema":{"type":"string"}},{"name":"effDtTm","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"delete":{"tags":["Toll-Free"],"summary":"Delete template","description":"Delete a future-effective template on Somos","operationId":"deleteTemplate","parameters":[{"name":"tmplName","in":"path","required":true,"schema":{"type":"string"}},{"name":"effDtTm","in":"query","required":true,"schema":{"type":"string"}},{"name":"recVersionId","in":"query","required":true,"schema":{"type":"string"}},{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"respOrgId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/tollfree/templates/{tmplName}/history":{"get":{"tags":["Toll-Free"],"summary":"Template history","description":"Get change history for a template","operationId":"getTemplateHistory","parameters":[{"name":"tmplName","in":"path","required":true,"schema":{"type":"string"}},{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"respOrgId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/tollfree/templates/{tmplName}/history/{effDtTm}/{activityTimestamp}":{"get":{"tags":["Toll-Free"],"summary":"Template history version","description":"Retrieve a specific historical version of a template","operationId":"getTemplateHistoryVersion","parameters":[{"name":"tmplName","in":"path","required":true,"schema":{"type":"string"}},{"name":"effDtTm","in":"path","required":true,"schema":{"type":"string"}},{"name":"activityTimestamp","in":"path","required":true,"schema":{"type":"string"}},{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"respOrgId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/tollfree/templates/drafts/{draftId}":{"get":{"tags":["Toll-Free"],"summary":"Get draft","description":"Get a specific template draft","operationId":"getDraft","parameters":[{"name":"draftId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"delete":{"tags":["Toll-Free"],"summary":"Delete draft","description":"Delete a template draft","operationId":"deleteDraft","parameters":[{"name":"draftId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/tollfree/sync/{syncJobId}":{"get":{"tags":["Toll-Free Sync"],"summary":"Get sync status","description":"Get the current status and progress of a sync job","operationId":"getSyncStatus","parameters":[{"name":"syncJobId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"delete":{"tags":["Toll-Free Sync"],"summary":"Cancel sync","description":"Cancel a running sync job","operationId":"cancelSync","parameters":[{"name":"syncJobId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/tollfree/sync/history":{"get":{"tags":["Toll-Free Sync"],"summary":"Get sync history","description":"Get recent sync jobs for a customer","operationId":"getSyncHistory","parameters":[{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/tollfree/status":{"get":{"tags":["Toll-Free"],"summary":"Check Somos availability","description":"Check if Somos integration is active","operationId":"getSomosStatus","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/tollfree/reserved-numbers":{"get":{"tags":["Toll-Free"],"summary":"List reserved numbers","description":"Get all reserved toll-free numbers for a customer's RespOrg","operationId":"getReservedNumbers","parameters":[{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"respOrgId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/tollfree/pointer-record/{num}":{"get":{"tags":["Toll-Free"],"summary":"Query pointer record","description":"Get pointer record details for a TFN","operationId":"queryPointerRecord","parameters":[{"name":"num","in":"path","required":true,"schema":{"type":"string"}},{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"respOrgId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/tollfree/inventory":{"get":{"tags":["Toll-Free"],"summary":"Get inventory list","description":"Paginated list of toll-free numbers from local database","operationId":"getInventory","parameters":[{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"respOrgId","in":"query","required":false,"schema":{"type":"string"}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":50}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/tollfree/inventory/summary":{"get":{"tags":["Toll-Free"],"summary":"Get inventory summary","description":"Get toll-free inventory counts grouped by RespOrg and status from local database","operationId":"getInventorySummary","parameters":[{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/tollfree/history/{tfn}":{"get":{"tags":["Toll-Free"],"summary":"Get TFN history","description":"Query Number Admin History for a toll-free number from Somos","operationId":"getTfnHistory","parameters":[{"name":"tfn","in":"path","required":true,"schema":{"type":"string"}},{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"respOrgId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/tollfree/entities/{entityId}/respOrgs":{"get":{"tags":["Toll-Free"],"summary":"Get RespOrgs for entity","description":"List all RespOrgs under a Somos entity","operationId":"getRespOrgsByEntity","parameters":[{"name":"entityId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/tollfree/entities/{entityId}/respOrgs/active":{"get":{"tags":["Toll-Free"],"summary":"Get active RespOrgs","description":"List only active RespOrgs under a Somos entity","operationId":"getActiveRespOrgsByEntity","parameters":[{"name":"entityId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/tollfree/customer-config":{"get":{"tags":["Toll-Free"],"summary":"Get toll-free config","description":"Get the toll-free configuration for a customer","operationId":"getCustomerTollFreeConfig","parameters":[{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/roc/projects/{projectId}":{"get":{"tags":["ROC"],"summary":"Get ROC project details","operationId":"getProject","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/roc/projects/{projectId}/documents":{"get":{"tags":["ROC"],"summary":"Get documents for ROC project","operationId":"getProjectDocuments","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/roc/projects/{projectId}/documents/{documentId}/download":{"get":{"tags":["ROC"],"summary":"Download document","operationId":"downloadDocument","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"documentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"respOrgId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/roc/projects/{projectId}/details":{"get":{"tags":["ROC"],"summary":"Get per-TFN details for ROC project","operationId":"getProjectDetails","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/roc/projects/{projectId}/audit":{"get":{"tags":["ROC"],"summary":"Get audit log for ROC project","operationId":"getProjectAudit","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/port-projects/projects/{projectId}/statistics":{"get":{"tags":["Bulk Port"],"summary":"Get project statistics summary (fast aggregation)","description":"Returns project statistics using database aggregation for optimal performance. Replaces the need to fetch 10,000 records for basic statistics. Typical response time: <100ms for projects with 1,000+ TNs.","operationId":"getProjectStatistics","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProjectStatisticsResponse"}}}}}}},"/api/v1/port-projects/projects/{projectId}/progress":{"get":{"tags":["Bulk Port"],"summary":"Get project validation progress for polling","operationId":"getProjectProgress","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PortProjectProgressResponse"}}}}}}},"/api/v1/port-projects/projects/{projectId}/progress/stream":{"get":{"tags":["Bulk Port"],"summary":"Stream batch validation progress via SSE (for large uploads)","operationId":"streamBatchProgress","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"text/event-stream":{"schema":{"$ref":"#/components/schemas/SseEmitter"}}}}}}},"/api/v1/port-projects/projects/{projectId}/progress-old":{"get":{"tags":["Bulk Port"],"summary":"Get validation progress for a bulk port project - OLD","operationId":"getProjectProgressOld","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}},"deprecated":true}},"/api/v1/port-projects/projects/{projectId}/lifecycle-summary":{"get":{"tags":["Bulk Port"],"summary":"Get port lifecycle state summary for project","operationId":"getLifecycleSummary","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PortLifecycleSummaryResponse"}}}}}}},"/api/v1/port-projects/projects/{projectId}/error-groups":{"get":{"tags":["Bulk Port"],"summary":"Get error groups for batch resolution","operationId":"getErrorGroups","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/port-projects/projects/{projectId}/details":{"get":{"tags":["Bulk Port"],"summary":"Get project details (TNs) with pagination and filtering","operationId":"getProjectDetails_1","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"validationStatus","in":"query","required":false,"schema":{"type":"string","enum":["PENDING","VALIDATING","VALID","ERROR"]}},{"name":"lifecycleStates","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["DRAFT","VALIDATING","VALIDATION_ERROR","READY_FOR_SUBMISSION","LSR_PENDING","LSR_SUBMITTED","CSR_PENDING","CSR_APPROVED","CSR_MISMATCH","SUPPLEMENT_REQUESTED","PENDING_FOC","FOC_RECEIVED","PORT_CONFLICT","PORT_EXCEPTION","AWAITING_DUE_DATE","READY_FOR_ACTIVATION","ACTIVATING","ACTIVATED","INTRASP_PENDING","INTRASP_TIMEOUT","INTRASP_COMPLETED","PORT_OUT_REQUESTED","PORT_OUT_CSR_ISSUED","PORT_OUT_PENDING","PORTED_OUT","CANCELLED","FAILED","LRN_CREATED","DISCONNECTED"]}}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagePortProjectDetailResponse"}}}}}}},"/api/v1/port-projects/projects/{projectId}/batch-operations":{"get":{"tags":["Bulk Port"],"summary":"Get batch operation history","operationId":"getBatchOperations","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"status","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/api/v1/port-projects/jobs/stats":{"get":{"tags":["Bulk Port Jobs"],"summary":"Get overall job statistics","operationId":"getJobStats","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobStatsResponse"}}}}}}},"/api/v1/port-projects/jobs/state/{state}":{"get":{"tags":["Bulk Port Jobs"],"summary":"Get jobs in a specific state","operationId":"getJobsByState","parameters":[{"name":"state","in":"path","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JobResponse"}}}}}}}},"/api/v1/port-projects/jobs/project/{projectId}/status":{"get":{"tags":["Bulk Port Jobs"],"summary":"Get job status for a specific project","operationId":"getProjectJobStatus","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProjectJobStatusResponse"}}}}}}},"/api/v1/port-projects/jobs/failed":{"get":{"tags":["Bulk Port Jobs"],"summary":"Get list of failed jobs","operationId":"getFailedJobs","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FailedJobResponse"}}}}}}}},"/api/v1/port-out-releases/projects/{projectId}":{"get":{"tags":["Port-Out Release"],"summary":"Get a port-out release project","description":"Returns details of a specific port-out release project","operationId":"getProject_2","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PortProjectResponse"}}}}}}},"/api/v1/port-out-releases/projects/{projectId}/details":{"get":{"tags":["Port-Out Release"],"summary":"Get TNs in a port-out release project","description":"Returns all TNs with their details for a port-out release project","operationId":"getProjectDetails_2","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagePortProjectDetailResponse"}}}}}}},"/api/v1/messaging/overview":{"get":{"tags":["Messaging Campaigns"],"summary":"Messaging overview","description":"Get summary statistics for messaging/10DLC","operationId":"getOverview","parameters":[{"name":"customerId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/messaging/enums/verticals":{"get":{"tags":["Messaging Enums"],"summary":"List verticals","description":"Get available TCR brand verticals","operationId":"getVerticals","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/messaging/enums/use-cases":{"get":{"tags":["Messaging Enums"],"summary":"List use cases","description":"Get available TCR campaign use cases","operationId":"getUseCases","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/messaging/enums/mnos":{"get":{"tags":["Messaging Enums"],"summary":"List MNOs","description":"Get major mobile network operators","operationId":"getMnos","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/messaging/enums/entity-types":{"get":{"tags":["Messaging Enums"],"summary":"List entity types","description":"Get available TCR brand entity types","operationId":"getEntityTypes","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/messaging/enums/cnps":{"get":{"tags":["Messaging Enums"],"summary":"List CNPs","description":"Get available Connectivity Partners from TCR","operationId":"listCnps","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/messaging/campaigns/{campaignId}/sharing":{"get":{"tags":["Messaging Campaigns"],"summary":"Get sharing status","description":"Get campaign sharing/CNP status from TCR","operationId":"getCampaignSharing","parameters":[{"name":"campaignId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"customerId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/messaging/campaigns/{campaignId}/mno-status":{"get":{"tags":["Messaging Campaigns"],"summary":"Get MNO status","operationId":"getMnoStatus","parameters":[{"name":"campaignId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"customerId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/messaging/campaigns/{campaignId}/events":{"get":{"tags":["TCR Webhooks"],"summary":"Campaign event history","description":"Returns TCR webhook events for a campaign","operationId":"getCampaignEvents","parameters":[{"name":"campaignId","in":"path","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":50}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/messaging/campaigns/lookup/{tcrCampaignId}":{"get":{"tags":["Messaging Campaigns"],"summary":"Lookup campaign from TCR","description":"Preview a TCR campaign before linking (tries own, then partner)","operationId":"lookupCampaign","parameters":[{"name":"tcrCampaignId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/messaging/brands/{brandId}/events":{"get":{"tags":["TCR Webhooks"],"summary":"Brand event history","description":"Returns TCR webhook events for a brand","operationId":"getBrandEvents","parameters":[{"name":"brandId","in":"path","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":50}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/messaging/brands/lookup/{tcrBrandId}":{"get":{"tags":["Messaging Brands"],"summary":"Lookup brand from TCR","description":"Preview an existing TCR brand before linking","operationId":"lookupBrand","parameters":[{"name":"tcrBrandId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/inventory/summary":{"get":{"tags":["Number Inventory"],"summary":"Get inventory summary","description":"Get summary statistics for a SPID","operationId":"getInventorySummary_1","parameters":[{"name":"spid","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/inventory/reports/nruf":{"get":{"tags":["Inventory Reports"],"summary":"Generate NRUF report","description":"Generate FCC Form 502 (NRUF) XLSX for a SPID","operationId":"generateNrufReport","parameters":[{"name":"spid","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/inventory/numbers/{telephoneNumber}":{"get":{"tags":["Number Inventory"],"summary":"Get number details","description":"Retrieve details for a specific telephone number","operationId":"getNumber","parameters":[{"name":"telephoneNumber","in":"path","required":true,"schema":{"type":"string"}},{"name":"spid","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/inventory/map/states":{"get":{"tags":["Inventory Map"],"summary":"Get available states","description":"Returns list of states with inventory, filtered to customer's allowed SPIDs","operationId":"getAvailableStates","responses":{"200":{"description":"OK","content":{"*/
[...]
